* {
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  body {
    background-color: lightblue;
    background-image: url("images/tablee.png");
    background-position: center;
    background-size: cover;
  }

  .game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    position: relative;
    padding: 10px;
  }

  .game-field {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .unologo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
  }
  .unologo img {
    width: 100px;
  }

  .cards {
    display: flex;
    gap: 10px;
  }

  .area-button {
    display: flex;
    flex-flow: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .buttonleft1 button {
    border-radius: 16px;
    text-align: center;
    height: 35px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: black;
    border: 1px solid black;
  }

  .buttonleft2 button {
    border-radius: 16px;
    text-align: center;
    height: 35px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: black;
    border: 1px solid black;
  }

  .cpu-cards {
    display: flex;
    justify-content: center;
    height: 110px;
    width: 100vw;
    gap: 3px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .cpu-card-element {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cpu-card-element img {
    width: 40px;
    height: 60px;
    border: 1.5px solid #000;
    border-radius: 10px;
  }

  .ultima-carta {
    height: 220px;
    width: 110px;
    position: relative;
  }

  .ultima-carta img {
    width: 100px;
    border: 2px solid #000;
    border-radius: 16px;
  }

  .deck {
    height: 220px;
    width: 110px;
    position: relative;
  }

  .deck div {
    position: absolute;
    top: 0;
  }

  .deck img {
    background-color: transparent;
    width: 105px;
    height: 155px;
    border: 2px solid #000;
    border-radius: 16px;
  }

  .deck .card-decoratore-2 {
    top: -4px;
    left: -4px;
  }

  .deck .card-decoratore-3 {
    top: -8px;
    left: -8px;
  }

  .skip {
    padding: 10px;
  }

  .skipbutton button {
    position: relative;
    top: 0;
    border-radius: 16px;
    text-align: center;
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff73;
    border: 1px solid black;
    color: black;
  }

  .my-cards-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-bottom: 40px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .black-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #00000078;
    z-index: 1;
  }

  .prompt-nome {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    gap: 6px;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .prompt-nome input {
    outline: none;
    font-size: 20px;
    border: 1px solid #e02323;
    width: 100%;
    border-radius: 4px;
  }

  .prompt-nome button {
    width: 100%;
    border-radius: 4px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
  }

  .my-card-element {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
  }

  .my-card-element img {
    width: 80px;
    border: 2px solid #000;
    border-radius: 10px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: #ffffff3e;
    border-top: 1px solid #000;
  }
}

@media (min-width: 600px) {
  body {
    background-color: rgb(238, 9, 9);
    background-image: url("images/wallpaper2.png");

    background-position: center;
    background-size: cover;
  }

  .game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    position: relative;
    padding: 5px;
    background-position: center;
    background-size: cover;
  }

  .game-field {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 50px;
    padding-top: 60px;
    padding-right: 100px;
  }

  .unologo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .unologo img {
    width: 180px;
  }

  .area-button {
    display: flex;
    flex-flow: row;
    padding-top: 15px;
    padding-bottom: 10px;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  .buttonleft1 button {
    border-radius: 20px;
    text-align: center;
    height: 50px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 150%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    background-color: rgba(248, 248, 245, 0.784);
    color: black;
    border: 2.2px solid black;
  }

  .buttonleft2 button {
    border-radius: 20px;
    text-align: center;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 150%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    background-color: rgba(248, 248, 245, 0.784);
    color: black;
    border: 2.2px solid black;
  }

  .skip {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skip button {
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 80px;
    font-size: 130%;
    background-color: rgba(248, 248, 245, 0.784);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: black;
    border: 2.2px solid black;
  }

  .ultima-carta {
    background-position: center;
  }

  .ultima-carta img {
    width: 160px;
    height: 220px;
    border: 3px solid #000;
    border-radius: 20px;
  }

  .cards {
    display: flex;
    gap: 20px;
  }

  .deck {
    width: 180px;
    height: 10px;
    position: relative;
  }

  .deck div {
    position: absolute;
  }

  .deck img {
    width: 160px;
    height: 220px;
    border: 3px solid #000;
    border-radius: 20px;
  }

  .deck .card-decoratore-2 {
    top: -4px;
    left: -4px;
  }

  .deck .card-decoratore-3 {
    top: -8px;
    left: -8px;
  }

  .black-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #00000078;
    z-index: 1;
  }

  .prompt-nome {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    gap: 6px;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .prompt-nome input {
    outline: none;
    font-size: 20px;
    border: 1px solid #e02323;
    width: 100%;
    border-radius: 4px;
  }

  .prompt-nome button {
    width: 100%;
    border-radius: 4px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
  }

  .my-cards-container {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 60px;
    gap: 5px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-color: black;
  }

  .my-card-element {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .my-card-element img {
    width: 140px;
    border: 3px solid #000;
    border-radius: 20px;
  }

  .cpu-cards {
    display: flex;
    justify-content: center;
    height: 110px;
    width: 100%;
    gap: 3px;
  }

  .cpu-card-element {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cpu-card-element img {
    width: 70px;
    height: 100px;
    border: 3px solid #000;
    border-radius: 20px;
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  @media only screen and (min-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: #ffffff3e;
    border-top: 1px solid #000;
  }
}
